streamlit>=1.20.0
psycopg2-binary==2.9.3
yfinance==0.1.84
pandas==1.5.1
numpy==1.23.4
plotly==5.11.0
ta==0.10.2
openpyxl==3.0.10
matplotlib==3.5.1
pandas_datareader==0.10.0
cufflinks==0.17.3
xlsxwriter<=3.0.2
xlrd>=1.0.0
openai==0.28.0
sqlalchemy==2.0.20
mitosheet==0.1.505

