gunicorn
cufflinks==0.17.3
dash
dash-bootstrap-components
matplotlib==3.5.1
numpy==1.23.4
openpyxl==3.0.10
pandas==1.5.1
pandas_datareader==0.10.0
plotly==5.11.0
requests
ta==0.10.2
ta-lib
xlrd>=1.0.0
xlsxwriter<=3.0.2
yfinance==0.2.54